<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
    	{{ partial "head" . }}
    </head>
    {{ partial "scripts" . }}

    <body>
    {{ partial "navbar" . }}

	{{ partial "body" . }}

	<main>

	    <h1>{{ .Title }}</h1>
	    <br>
	    <div class="text-justify">{{ .Content }}</div>
	    	
	    {{ range .Sections.Reverse }} {{ partial "list-section" . }} {{ end }}
	    {{ range .Pages }} {{ partial "list-item" . }} {{ end }}

	</main>

	{{ partial "footer" . }}
    </body>

</html>