<!-- layouts/authors/single.html -->

<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
        {{ partial "head" . }}
    </head>
    {{ partial "scripts" . }}

    <body>
    {{ partial "navbar" . }}

    {{ partial "body" . }}

    <main>

        <h1 class="text-center">{{ .Title }}</h1>

        <h2 class="text-center">
            {{ if .Params.linkedin }}
            <a href="https://www.linkedin.com/in/{{ .Params.linkedin }}" target="_new">
                <i class="fa fa-linkedin" style="color:#bbb" aria-hidden="true"></i>
            </a>
            {{ end }}
            {{ if .Params.twitter }}
                <a href="https://twitter.com/{{ .Params.twitter }}" target="_new">
                    <i class="fa fa-twitter" style="color:#bbb" aria-hidden="true"></i>
                </a>
            {{ end }}
            {{ if .Params.github }}
                <a href="https://github.com/{{ .Params.github }}" target="_new">
                    <i class="fa fa-github" style="color:#bbb" aria-hidden="true"></i>
                </a>
            {{ end }}
            {{ if .Params.gitlab }}
                <a href="https://gitlab.com/{{ .Params.gitlab }}" target="_new">
                    <i class="fa fa-gitlab" style="color:#bbb" aria-hidden="true"></i>
                </a>
            {{ end }}
            {{ if .Params.bitbucket }}
                <a href="https://bitbucket.org/{{ .Params.bitbucket }}" target="_new">
                    <i class="fa fa-bitbucket" style="color:#bbb" aria-hidden="true"></i>
                </a>
            {{ end }}
            {{ if .Params.email }}
                <a href="mailto:{{ .Params.email }}" target="_new">
                    <i class="fa fa-envelope" style="color:#bbb" aria-hidden="true"></i>
                </a>
            {{ end }}
            {{ if .Params.facebook }}
                <a href="" target="_new">
                    <i class="fa fa-facebook" style="color:#bbb" aria-hidden="true"></i>
                </a>
            {{ end }}
            {{ if .Params.website }}
                <a href="{{ .Params.website }}" target="_new">
                    <i class="fa fa-home" style="color:#bbb" aria-hidden="true"></i>
                </a>
            {{ end }}
        </h2>

        <div class="text-justify">{{ .Content }}</div>

    </main>

    {{ partial "footer" . }}
    </body>

</html>
