<div id="gh-comments">
    <header>
        <h4>COMMENTS</h4>
    </header>
    <div id="gh-comments-list"></div>
    <a href="javascript:void(0)" id="gh-load-comments" class="btn" style="display:none">Load more comments</a>
</div>

<script type="text/javascript">
// use of ajax vs getJSON for headers use to get markdown (body vs body_htmml)
// todo: pages, configure issue url, open in new window?
var CurrentPage = 0;
function ParseLinkHeader(entries){
    var links = { };
    for (var i in entries){
        var entry = entries[i];
        var link = { };
        link.name = entry.match(/rel=\"([^\"]*)/)[1];
        link.url = entry.match(/<([^>]*)/)[1];
        link.page = entry.match(/page=(\d+).*$/)[1];
        links[link.name] = link;
    }
    return links;
}
function DoGithubComments(comment_id, page_id){

    if (page_id === undefined)
        page_id = 1;

    var api_url = "https://api.github.com/repos/{{ .Site.Params.repoName }}";
    var api_issue_url = api_url + "/issues/" + comment_id;
    var api_comments_url = api_url + "/issues/" + comment_id + "/comments" + "?page=" + page_id;

    var url = "https://github.com/{{ .Site.Params.repoName }}/issues/" + comment_id;

    document.addEventListener('DOMContentLoaded', function(){ 
        $.getJSON(api_issue_url, function(data) {
            NbComments = data.comments;
        });
        $.ajax(api_comments_url, {
            headers: {Accept: "application/vnd.github.v3.html+json"},
            dataType: "json",
            success: function(comments, textStatus, jqXHR) {
                // Add post button to first page
                if (page_id == 1)
                    $("#gh-comments > header").append("<a href='" + url + "#new_comment_field' rel='nofollow' target='_new' class='btn'>Post a comment on Github</a>");
                // Individual comments
                $.each(comments, function(i, comment) {
                    var m = new Date(comment.created_at);
                    var dateString = m.getUTCFullYear() +"/"+ (m.getUTCMonth()+1) +"/"+ m.getUTCDate() + " at " + m.getUTCHours() + ":" + m.getUTCMinutes();
                    var t = "<div class='gh-comment'><div>";
                    t += "<img src='" + comment.user.avatar_url + "'>";
                    t += "<b><a href='" + comment.user.html_url + "'>" + comment.user.login + "</a></b>";
                    t += " posted on ";
                    t += "<em>" + dateString + "</em></div>";
                    t += comment.body_html;
                    t += "</div>";
                    $("#gh-comments-list").append(t);
                });
                // Setup comments button if there are more pages to display
                var links = ParseLinkHeader(jqXHR.getAllResponseHeaders().responseJSON);
                if ("next" in links){
                    $("#gh-load-comments").attr("onclick", "DoGithubComments(" + comment_id + "," + (page_id + 1) + ");");
                    $("#gh-load-comments").show();
                }else{
                    $("#gh-load-comments").hide();
                }
            },
            error: function() {
                $("#gh-comments-list").append("Comments are not open for this post yet.");
            }
        });
    }, false);
}
DoGithubComments({{ $.Params.githubIssueID }});
</script>